@page "/UnityConnection"
@using GenenticAlgorithmBlazor.Shared
@inject HttpClient Http

<PageTitle>Unity</PageTitle>
<EditForm Model="@testText" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="testText.testText" />

    <button type="submit">Submit</button>
</EditForm>
<p>@test</p>
@code {
    private TestText testText = new();
    private string test = "";
    async Task HandleValidSubmit()
    {
        test = testText.testText;

        var response = await Http.PostAsJsonAsync("SimpleText", testText);
        
    // Process the valid form
    }
}